.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 1200px;
    height: 850px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Cafe24SsurroundAir';
}

.modalContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.modalContent img{
    width: 45%;
    object-fit: cover;
}

.modalHeader{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diaryInfo{
    width: 40%;
    padding: 20px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.diaryTextBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.diaryTextBox h3{
    font-size: 20px;
    font-weight: 600;
}

.diaryTextBox pre{
    width: 100%;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Cafe24SsurroundAir';
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 15px 0px;
    padding: 10px 0px;
}

.likeCount{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}